<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<style>
		.centered {
		  text-align: center;
		}
	</style>
	<head>
	  	<title>Taco Cloud</title>
	</head>
	<body>
		<div class = "centered">
			<img th:src="@{/images/MainPage1.png}"/>
		  	<h1>Register</h1>
		 	<form method="POST" th:action="@{/register}" id="registerForm">
		   		<label for="username">Username: </label>
		    	<input type="text" name="username"/><br/>
		    	<label for="password">Password: </label>
		    	<input type="password" name="password"/><br/>
		    	<label for="email">Email: </label>
		    	<input type="email" name="email"/><br/>
		   		<input type="submit" value="Register"/>
		  	</form>
	  	</div>
	</body>
</html>
